body {
  background-image: url("back2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Exo 2", sans-serif;
}
#heading {
  max-width: 600px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

.quote {
  font-size: 35px;
  color: #ffffff;
  font-family: "Nanum Pen Script", cursive;
  text-shadow: 7px 7px 5px black;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.box {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 5px;
}


.heading1 {
  max-width: fit-content;
  margin: auto;
  position: relative;
  font-family: "Exo 2", sans-serif;
  background:linear-gradient(to right, #00b09b, #96c93d);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: -2px 2px 5px black, -4px 4px 10px black, -6px 6px 13px black,
    -5px 6px 10px black;
}

.item {
  min-height: 57px;
  background: rgba(42, 42, 42, 0.5);
  background:linear-gradient(to right, #00b09b, #96c93d);
  box-shadow: 6px 6px 5px black, inset 0.5px 0.5px 5px black;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
}
.item1 {
  transition: 0.7s;
}
.item1:hover {
  background-color: #757676;
}
.item1:hover p {
  color: #fff;
}
label {
  display: inline;
}

.checkbox1 {
  display: none;
}

.checkbox1 + label {
  background-image: url("nut.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 19px;
  margin-left: 20px;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.checkbox1:hover + label {
  color: #99a1a7;
  cursor: pointer;
  transform: rotateZ(360deg);
}

.checkbox1:hover + label:after {
  content: "";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}
.item1 label:hover + p {
  color: rgb(245, 20, 20);
  transform: scale(1.05);
}

p {
  font-family: "Nanum Pen Script", cursive;
  margin: 0;
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 3px 3px 1px black, 4px 4px 1px black, 5px 5px 1px black;
  transition: 0.3s;
  overflow: scroll;
}

form.item {
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url("add.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px;
  border: none;
  border-radius: 25px;
  color: #000;
  font-size: 35px;
  transition: 0.7s;
}

button:hover {
  transform: rotateZ(360deg);
}

input[type="text"] {
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-weight: lighter;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 85%;
  margin: 2%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.75) 2px 2px 5px -1px,
    rgba(255, 255, 255, 0.73) -2px -2px 3px -1px;
}

::placeholder {
  color: rgb(240, 233, 233);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  opacity: 1;
}

footer {
  text-align: center;
  margin-bottom: 25px;
}
footer a {
  background: radial-gradient(circle, #00b09b, #96c93d);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 7px 7px 2px black, inset 2px 2px 4px black;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  padding: 6px;
  text-shadow: 1px 1px 3px black;
  margin: 8px;
}
footer a:hover {
  font-size: 27px;
}

@media screen and (max-width: 1100px) {
  body {
    background-color: #646362;
    background-image: none;
    background-size: cover;
  }
  .quote {
    font-size: 100%;
  }
  .heading1 {
    font-size: 100%;
    background-image: none;
    background-color: #000;
    text-shadow: 3px 3px 8px white, -3px -3px 8px white;
    -webkit-text-fill-color: #000;
  }
  .heading1::before {
    z-index: -2;
  }
  .box {
    width: 90%;
  }
  .item {
    background-color: #353838;
    background-image: none;
  }
  p {
    font-size: 1.5em;
  }
  .item {
    height: 35px;
    border-radius: 10px;
  }
  button {
    width: 38px;
    height: 38px;
  }
  input[type="text"] {
    width: 70%;
    margin: auto;
    height: 80%;
  }

  footer a {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    font-size: 25px;
  }
}
